<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Summary about any person,place,company etc...">
  <meta name="keywords" content="wikipedia,summary,pocketpedia">
  <meta name="author" content="Nandalala">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{{ title }}</title>
</head>
<body>
<center>
<h3 style="color: #1a75ff;">Pocket Pedia:</h3>
</center>
<br>
<div>
	<center>
		<form action='/result' method="post">
			<table>
				<tr>
					<td>
						<i><label style="color: #1a75ff;" for='srh'>Search:</label></i>
						<input type="search" name="search" id='srh' required placeholder="E.g dhoni,google,eminem...">
					</td>
					<td>
						<select name='lang'>
							<option value="en" selected>English</option>
							<option value="hi">हिन्दी</option>	
							<option value='ta'>Tamil</option>
							<option value="ur">اردو(urdu)</option>
							<option value="el">Ελληνικά(greek)</option>
							<option value="ar">العربية(arabic)</option>
							<option value="ru">Русский(russian)</option>
						</select>
					</td>
				</tr>
					
			</table>
			<br>
			<input type="submit" name="submit" value="search">
		</form>
	</center>
</div>
<br>
<div>
	<center>
<a href='https://github.com/NaNdalal-dev/Pocket-Pedia'>	<img src="{{ url_for('static', filename='gitlogo.png') }}" width="60" height="60"></a>
	</center>
</div>
</body>
</html>
