<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="description" content="Summary about any person,place,company etc...">
<meta name="keywords" content="wikipedia,summary,pocketpedia">
<meta name="author" content="Nandalala">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title }}</title>
</head>
<body>
	<i><b>Realted to your search:</b><br></i>
	
	
		{% for i in range(l) %}
			<table>
			<tr>
			<td>
			<details>
			  <summary>{{ title_rs[i] }}</summary>
			 <p><i>
			 	{{ related_search[i] }}
			 </i></p>
			</details>
			</td>
			</tr>
			</table>
		{% endfor %}
	
</body>
</html>